#root {
  text-align: center;
}

*,
*:after,
*:before {
  box-sizing: border-box;
}

html,
body {
  font-family: 'Raleway', sans-serif;
}

.site-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main {
  flex-grow: 1;
  padding-left: 8vw;
  padding-right: 8vw;
  padding-top: 10vh;
  padding-bottom: 10vh;
}


/*  ~~~~ HEADER ~~~~   */
/* ~~~~~~~~~~~~~~~~~~~~~~*/

.main-header {
  height: 150px;
  display: flex;
  align-items: center;
  padding-right: 40px;
  padding-left: 20px;
}

.main-header a {
  text-decoration: none;
  color: #000000;
  font-weight: 600;
  padding: 5px 20px;
}

.main-header a:hover {
  color: #7b7b7b;
}

.main-header .site-logo {
  color: black;
  margin-right: auto;
  display: flex;
}

.logo {
  height: 4.5em;
  padding: 0em;
}

.logo-name {
  padding: 0;
  margin-left: 20px;
  margin-top: 25px;
  font-weight: 700;
  font-size: 25px;
}

.nav {
  padding-top: 15px;
}

/*  ~~~~ HOME ~~~~   */
/* ~~~~~~~~~~~~~~~~~~~~~~*/

.home-container {
  display: flex;
}

.home-img {
  margin-right: 7vw;
  width: 35vw;
  border-radius: 20px;
}

.home-text-container {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.home-header {
  font-size: 5vw;
  font-weight: 1000;
  color: rgb(0, 0, 0);
  text-align: left;
  margin-top: 10vh;
}

.home-content {
  text-align: left;
  font-size: 2vw;
}

/*  ~~~~ ABOUT ~~~~   */
/* ~~~~~~~~~~~~~~~~~~~~~~*/

.about-page-container {
  display:flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.about-image {
  height: 250px;
  padding-right: 20px;
}

.about-header {
  font-size: 50px;
}

.about-page-content {
  display: flex;
  padding: 30px;
  max-width: 1000px;
  top: 50%;
  left: 50%;
}


/*  ~~~~ SIGN IN UP ~~~~   */
/* ~~~~~~~~~~~~~~~~~~~~~~~~ */

.sign-in-up {
  box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
  width: 40%;
  border-radius: 10px;
  margin: auto;
  padding-top: 50px;
  padding-left: 7vw;
  padding-bottom: 30px;
  margin-bottom: 40px;
}

.sign-in-up-header {
  font-size: 50px;
  text-align: center;
  margin-left: -8vw;
  margin-bottom: 40px;
}

.sign-in-up-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}


.sign-in-up-label {
  text-align: left;
  font-size: 20px;
}

.sign-in-up-input {
  border-radius: 5px;
  width: 20vw;
  height: 5vh;
  padding-left: 10px;
  border: solid rgb(167, 163, 163) 1px;
}

.sign-in-up-btn {
  margin-left: 4vw;
  margin-top: 20px;
}

.sign-in-up-alternative {
  padding: 0;
  margin-left: -8vw;
}

.sign-in-up-other {
  color:#095fe9;
}


/*  ~~~~ FORM ~~~~   */
/* ~~~~~~~~~~~~~~~~~~~~~~~~ */

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.form-header {
  font-size: 50px;
  margin-bottom: 50px;
}

.form-label {
  font-size: 23px;
  margin-top: 10px;
}

.form-box {
  display: flex;
  justify-content: space-around;
  gap: 15px;
}

.form-input {
  border: solid 0.5px black;
  border-radius: 7px;
  padding: 10px;
  font-size: 20px;
}

/*  ~~~~ BUTTON ~~~~   */
/* ~~~~~~~~~~~~~~~~~~~~~~~~ */

.button {
  background-color: #161616 !important;
  border-radius: 0.75rem;
  box-sizing: border-box;
  color: #ffffff;
  font-weight: 600;
  font-size: 17px;
  padding: 0.75rem 1.2rem;
  text-align: center;
  width: 160px;
  height: 70px;
  margin-bottom: 50px;
}

.button:hover {
  background-color: #374151 !important;
}


/*  ~~~~ FOOTER ~~~~   */
/* ~~~~~~~~~~~~~~~~~~~~~~~~ */

footer {
  background-color: #161616;
  height: auto;
  width: 100%;
  display: flex;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: auto;
  margin: auto;
}


.line {
  display: relative;
  color: #aaaaaa;
  width: 100%;
  padding: 0 50px 40px 50px;
}

.social-logo-container {
  position: relative;
  display: flex;
  justify-content: space-evenly;
  gap: 10px;
}

.social-logo {
  height: 40px;
  border-radius: 50%;
  background-color: #aaaaaa;
  border: solid #aaaaaa 2px;
}

.footer-content-conatiner {
  color: #aaaaaa;
  padding: 70px 150px 40px 150px;
  font-size: 6vw;
}

.copyright-container {
  margin: 20px;
  margin-bottom: 100px;
  color: #aaaaaa;
}


.colors {
  display: flex;
  width: 80vw;
  height: 40vh;
  gap: 10px;
  background-color: white;
  border: solid 2px black;
  justify-content: center;
  align-items: center;
}

.color1 {
  width: 100px;
  height: 100px;
  background-color: #fdfaf7;
}

.color2 {
  width: 100px;
  height: 100px;
  background-color: #f5eadb;
}

.color3 {
  width: 100px;
  height: 100px;
  background-color: #dcc9b1;
}

.color4 {
  width: 100px;
  height: 100px;
  background-color: #886f50;
}

.color5 {
  width: 100px;
  height: 100px;
  background-color: #161616;
}

.color6 {
  width: 100px;
  height: 100px;
  background-color: #aaaaaa;
}
