#root {
  text-align: center;
}

html,
body {
  font-family: "Raleway", sans-serif;
  /** font-family: 'Playfair Display', serif; **/
}

.site-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main {
  flex-grow: 1;
  padding-left: 8vw;
  padding-right: 8vw;
  padding-top: 10vh;
  padding-bottom: 10vh;
}

/*  ~~~~ HEADER ~~~~   */
/* ~~~~~~~~~~~~~~~~~~~~~~*/

header {
  height: 150px;
  display: flex;
  align-items: center;
  padding-right: 40px;
  padding-left: 20px;
}

header a {
  text-decoration: none;
  color: #000000;
  font-weight: 600;
  padding: 5px 20px;
}

header a:hover {
  color: #7b7b7b;
}

header .site-logo {
  color: black;
  margin-right: auto;
  display: flex;
}

.logo {
  height: 4.5em;
  padding: 0em;
}

.logo-name {
  padding: 0;
  margin-left: 20px;
  margin-top: 25px;
  font-weight: 700;
  font-size: 25px;
}

.nav {
  padding-top: 15px;
}

/*  ~~~~ HOME ~~~~   */
/* ~~~~~~~~~~~~~~~~~~~~~~*/

.home-container {
  display: flex;
}

.home-img {
  margin-right: 7vw;
  width: 35vw;
  border-radius: 20px;
}

.home-text-container {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.home-header {
  font-size: 5vw;
  font-weight: 1000;
  color: rgb(0, 0, 0);
  text-align: left;
  margin-top: 10vh;
}

.home-content {
  text-align: left;
  font-size: 2vw;
}

/*  ~~~~ ABOUT ~~~~   */
/* ~~~~~~~~~~~~~~~~~~~~~~*/

.about-page-container {
  margin-top: 100px;
}

.about-image {
  height: 250px;
  padding-right: 20px;
}

.about-header {
  font-size: 50px;
}

.about-page-content {
  display: flex;
  padding: 30px;
  max-width: 1000px;
  top: 50%;
  left: 50%;
}

/* ~~~~ COURSE LIST ~~~~ */
/* ~~~~~~~~~~~~~~~~~~~~~~*/

.course-header {
  font-size: 80px;
}

.course-info {
  margin: auto;
  background: rgb(246, 244, 244);
  height: 200px;
  width: 250px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 10px;
}

.course-info-text {
  padding-top: 90px;
  font-size: 25px;
}

.course-tile a {
  color: #000000;
  text-decoration: none;
}

.course-list-container {
  padding-inline: 23px;
  margin: 50px;
}

.course-list {
  display: flex;
  justify-items: center;
  gap: 80px;
  margin-top: 80px;
  flex-wrap: wrap;
  justify-content: center;
}

.create-course-container {
  margin-bottom: 150px;
}

/* ~~~~ COURSE DETAIL ~~~~ */
/* ~~~~~~~~~~~~~~~~~~~~~~~~ */

.course-name {
  font-size: 80px;
  padding-top: 70px;
}

.course-description-header {
  font-size: 30px;
  padding-top: 50px;
  padding-bottom: 20px;
}

.course-detail-buttons {
  margin-bottom: 150px;
  padding-top: 100px;
  display: flex;
  gap: 100px;
  justify-content: center;
}

/*  ~~~~ CREATE COURSE ~~~~   */
/* ~~~~~~~~~~~~~~~~~~~~~~~~ */

.create-course-header {
  font-size: 50px;
  margin-bottom: 50px;
}

/* ~~~~  UPDATE COURSE  ~~~~ */
/* ~~~~~~~~~~~~~~~~~~~~~~*/

/*  ~~~~ DELETE COURSE ~~~~   */
/* ~~~~~~~~~~~~~~~~~~~~~~~~ */

.delete-confirmation {
  font-size: 30px;
  padding: 50px;
  padding-top: 120px;
}

.delete-buttons {
  margin-bottom: 100px;
  padding-top: 50px;
  display: flex;
  gap: 100px;
  justify-content: center;
}

/*  ~~~~ MODULE LIST  ~~~~   */
/* ~~~~~~~~~~~~~~~~~~~~~~~~ */

.module-header {
  font-size: 80px;
}

.module-info {
  margin: auto;
  background: rgb(246, 244, 244);
  height: 200px;
  width: 250px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 10px;
}

.module-info-text {
  padding-top: 90px;
  font-size: 25px;
}

.module-tile a {
  color: #000000;
  text-decoration: none;
}

.module-list-container {
  padding-inline: 23px;
  margin: 100px;
}

.module-list {
  display: flex;
  justify-items: center;
  gap: 80px;
  margin-top: 57px;
  flex-wrap: wrap;
  justify-content: center;
}

.module-list-button {
  margin-bottom: 150px;
}

/*  ~~~~ CREATE MODULE ~~~~   */
/* ~~~~~~~~~~~~~~~~~~~~~~~~ */

.create-module-header {
  font-size: 50px;
  margin-bottom: 50px;
}

/* ~~~~ MODULE DETAIL ~~~~ */
/* ~~~~~~~~~~~~~~~~~~~~~~~~ */

.module-name {
  font-size: 80px;
  padding-top: 70px;
}

.module-description-header {
  font-size: 30px;
  padding-top: 50px;
  padding-bottom: 20px;
}

.module-detail-buttons {
  margin-bottom: 150px;
  padding-top: 100px;
  display: flex;
  gap: 100px;
  justify-content: center;
}

/*  ~~~~ QUESTION LIST ~~~~   */
/* ~~~~~~~~~~~~~~~~~~~~~~~~ */

.question-header {
  font-size: 80px;
}

.question-info {
  margin: auto;
  background: rgb(246, 244, 244);
  height: 70px;
  width: 800px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 10px;
}

:hover .question-info {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.question-info-text {
  padding-top: 20px;
  font-size: 20px;
}

.question-tile a {
  color: #000000;
  text-decoration: none;
}

.question-list-container {
  padding-inline: 23px;
  margin: 100px;
}

.question-list {
  display: flex;
  justify-items: center;
  gap: 80px;
  margin-top: 57px;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: center;
}

.question-list-button {
  margin-bottom: 150px;
}



/*  ~~~~ SIGN IN UP ~~~~   */
/* ~~~~~~~~~~~~~~~~~~~~~~~~ */

.sign-in-up {
  box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
  width: 35vw;
  border-radius: 10px;
  margin: auto;
  padding-top: 50px;
  padding-left: 8vw;
  padding-bottom: 30px;
  margin-bottom: 40px;
}

.sign-in-up-header {
  font-size: 50px;
  text-align: center;
  padding-left: 0;
  margin-left: -8vw;
  margin-bottom: 40px;
}

.sign-in-up-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}


.sign-in-up-label {
  text-align: left;
  font-size: 20px;
}

.sign-in-up-input {
  border-radius: 5px;
  width: 20vw;
  height: 5vh;
  padding-left: 10px;
  margin-top: 5px;
  border: solid rgb(167, 163, 163) 1px;
}

.sign-in-up-btn {
  margin-left: 4vw;
  margin-top: 20px;
}

.sign-in-up-alternative {
  padding: 0;
  margin-left: -8vw;
}

.sign-in-up-other {
  color:#095fe9;
}


/*  ~~~~ FORM ~~~~   */
/* ~~~~~~~~~~~~~~~~~~~~~~~~ */

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*  ~~~~ BUTTON ~~~~   */
/* ~~~~~~~~~~~~~~~~~~~~~~~~ */

.button {
  background-color: #161616 !important;
  border-radius: 0.75rem;
  box-sizing: border-box;
  color: #ffffff;
  font-weight: 600;
  font-size: 17px;
  padding: 0.75rem 1.2rem;
  text-align: center;
  width: 160px;
  height: 70px;
  margin-bottom: 50px;
}

.button:hover {
  background-color: #374151 !important;
}

/*  ~~~~ FOOTER ~~~~   */
/* ~~~~~~~~~~~~~~~~~~~~~~~~ */

footer {
  background-color: #161616;
  height: auto;
  width: 100%;
  display: flex;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: auto;
  margin: auto;
}

.form-header {
  font-size: 50px;
  margin-bottom: 50px;
}

.form-label {
  font-size: 23px;
  margin-top: 10px;
}

.form-box {
  display: flex;
  justify-content: space-around;
  gap: 15px;
}

.form-input {
  border: solid 1px black;
  border-radius: 7px;
  padding: 10px;
  font-size: 20px;
}

.line {
  display: relative;
  color: #aaaaaa;
  width: 100%;
  padding: 0 50px 40px 50px;
}

.social-logo-container {
  position: relative;
  display: flex;
  justify-content: space-evenly;
  gap: 10px;
}

.social-logo {
  height: 40px;
  border-radius: 50%;
  background-color: #aaaaaa;
  border: solid #aaaaaa 2px;
}

.footer-content-conatiner {
  color: #aaaaaa;
  padding: 70px 150px 40px 150px;
  font-size: 6vw;
}

.copyright-container {
  margin: 20px;
  margin-bottom: 100px;
  color: #aaaaaa;
}
