@tailwind base;
@tailwind components;
@tailwind utilities;

.dashboard-wrapper {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  padding-left: 10px;
}

.dashboard-body {
  flex: 1;
  width: 100%;
  margin: 20px;
  height: 97vh;
}

/** ~~~~~~~~~~~~~~~~ SIDEBAR ~~~~~~~~~~~~~~ **/ 

.sidebar {
  height: 97vh;
  width: var(--width-value, 0);
  overflow: hidden;
  transition: all;
  border-radius: 10px;
}

.sidebar-nav {
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
}

.sidebar.expanded {
  --width-value: 20vw;
}

.sidebar.collapsed {
  --width-value: 6vw;
}

.sidebar-top {
  padding-top: 1.5rem;
  padding-left: 1rem;
  padding-right: 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sidebar-logo {
  overflow: hidden;
  transition: all;
  width: 50px;
}

.sidebar-header {
  overflow: hidden;
  transition: all;
  font-size: var(--font-size, 0);
}

.sidebar-header.expanded {
  --font-size: 15px;
}

.sidebar-logo.collapsed {
  --font-size: 0;
}

.custom-button {
  border-radius: 0.375rem;
  background-color: #f7fafc;
}

.custom-button:hover {
  background-color: #edf2f7;
}

.sidebar-main {
  flex-grow: 1;
  padding-top: 50px;
}

.sidebar-main-ul {
  display: flex;
  flex-direction: column;
  margin: 10px;
  gap: 20px;
}

.sidebar-main-ul li.active {
  background-color: #c4a922;
}

.sidebar-main-ul li:hover {
  border-radius: 10px;
  background-color: #e1d4b5;
}

.sidebar-main-ul li {
  padding: 5px;
}

.sidebar-main-link {
  display: flex;
}

.sidebar-main-img {
  height: 20px;
}

.sidebar-main-text {
  overflow: hidden;
  transition: all;
  font-size: var(--font-size, 0);
  margin-left: 0.75rem;
}

.sidebar-main-text.expanded {
  font-size: 20px;
}

.sidebar-bottom {
  border-top: 1px solid #e2e8f0;
  display: flex;
  padding: 0.75rem;
}

.sidebar-bottom-image {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 0.375rem;
}

.custom-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  transition: all;
  width: var(--width-value, 0);
  margin-left: 0.75rem;
}

.custom-info {
  line-height: 1;
}

.custom-name {
  font-weight: 600;
}

/** ~~~~~~~~~~~~~~~~~ HEADER ~~~~~~~~~~~~~~~~~~~ **/

.dashboard-header{
  display: flex;
}

.dashboard-header-img {
  height: 50px;
}

