.examination-wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.examination-main {
  flex-grow: 1;
  margin: 10px;
  border: solid 2px black;
}

.examination-header {
    margin: 10px;
    border: solid 2px black;
    height: 10vh;
    display: flex;
    justify-content: space-between
}


.timer-wrapper {
  display: flex;
  justify-content: center;
}

.timer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.value {
  font-size: 14px;
}